{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container pt-5 pb-5">
    <h1>Creer un compte</h1>

    {{ form_start(registrationForm) }}
    
    {{ form_widget(registrationForm) }}

        <button type="submit" class="btn btn-primary">Creer</button>

    {{ form_end(registrationForm) }}
</div>
{% endblock %}
