{% extends 'base.html.twig' %}

{% block title %}Hello ExerciceController!{% endblock %}

{% block body %}
    <h1>
    Votre ville est {{ ville }}
    </h1>
<hr/>
    <h1>
    Le millier d'habitant est {{ millierdhabitant }} habitants.
    </h1>
<hr/>
    {# {% if millierdhabitant < 1000 %}
        <p>
        c'est un village
        </p>
        {% else %}
            {% if millierdhabitant >= 1000 and millierdhabitant < 1000 %}
            <p>
            c'est une petite ville
            </p>
            {% endif %}
                {% if millierdhabitant >= 10000 %}
                <p>
                c'est une grande ville
                </p>
                {% endif %}
    {% endif %} #}


    {% if millierdhabitant < 1000 %}
    <p>
      c'est un village
    </p>
    {% elseif (millierdhabitant >= 1000 and millierdhabitant < 10000) %}
    <p>
      c'est une petite ville
    </p>
    {% elseif (millierdhabitant >= 10000) %}
    <p>
      c'est une grande ville
    </p>
    {% endif %}


{% endblock %}
